.main {
    margin-top: 65px;
}

.contentDashboardEvaluate {
    margin-top: 1rem;
}

.contentDashboardEvaluate .MuiPaper-root {
    border: 1px solid silver;
}

.graphiques .MuiPaper-root {
    border: 1px solid silver;
    gap: 1rem;
}

.grille {
    max-width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    justify-content: center;
    grid-gap: 5px;
    grid-column: 89px;
}

.grille button:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.grille button {
    width: 160px;
    height: auto;
    transition: transform 0.4s;
    border-radius: 1px;
}

.grilleApercu {
    max-width: auto;
    height: auto;
    grid-gap: 5px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 240px);
}

.contentDashboardEvaluate .grille .MuiPaper-root {
    width: 240px;
    height: auto;
    transition: transform 0.4s;
    border-radius: 1px;
}